<h1>Tests</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Logical ID</th>
        <th>name</th>
        <th>Status</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Duration</th>
        <th>Errors number</th>
        <th>Failures number</th>
        <th>Metadata</th>
        <th>Skipped</th>
    </tr>
    {{#each model}}
    <tr>
        <td>{{#link-to 'test' this}}{{this.id}}{{/link-to}}</td>
        <td>{{logicalId}}</td>
        <td>{{name}}</td>
        <td>{{status}}</td>
         <td>{{startTime}}</td>
         <td>{{endTime}}</td>
         <td>{{duration}}</td>
         <td>{{numErrors}}</td>
         <td>{{numFailures}}</td>
         <td>{{Testmetadata}}</td>
         <td>{{skipped}}</td>
    </tr>
    {{/each}}
</table>

